* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.nav-min-height {
  min-height: 60px;
}

@screen sm {
  .nav-min-height {
    min-height: 90px;
  }
}

@screen lg {
  .pool-container {
    max-width: 1160px;
  }
}

.modal-max-width {
  max-width: 640px;
}

.modal-wrapper {
  min-height: 300px;
  max-height: 100vh;
  overflow-y: auto;
}

.modal-content-container {
  max-height: 100vh;
}

@screen sm {
  .modal-wrapper {
    max-height: calc(100vh - 1px);
  }
}

.page {
  min-height: 400px;
  width: 100%;
}

.section-min-height {
  min-height: 70vh;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  pointer-events: none;
}

.grid-wrapper {
  display: grid;
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  grid-gap: 0;
  overflow: hidden;
  row-gap: 0;
  grid-template-areas:
    "banner"
    "header"
    "content";
  grid-template-columns: 1fr;
  grid-template-rows: 0 100px 1fr;
}

@screen sm {
  .grid-wrapper {
    grid-template-rows: 0 120px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "banner banner"
      "header  header"
      "content content";
    max-width: 900px;
  }

  .sidebar {
    display: block;
  }
}

@screen lg {
  .grid-wrapper {
    grid-template-columns: 1fr;
    max-width: 1200px;
  }
}

.header {
  display: block;
  grid-area: header;
  /* position: fixed;
  top: 0; */
}

.sidebar {
  grid-area: sidebar;
  width: 240px;
}

@screen lg {
  .sidebar {
    width: 300px;
  }
}

.sidebar > div {
  position: sticky;
  top: 124px;
}

.content {
  grid-area: content;
}

.banner {
  grid-area: banner;
}
